[build-system]
requires = ['setuptools>=40.8.0']
build-backend = 'setuptools.build_meta'

[tool.setuptools]
packages = ["adtl"]

[project]
name = "adtl"
version = "0.6.1"
description = "Another data transformation language"
authors = [
  {name = "Abhishek Dasgupta", email = "abhishek.dasgupta@dtc.ox.ac.uk"},
  {name = "Pip Liggins", email = "philippa.liggins@dtc.ox.ac.uk"}
]
license = {file = "LICENSE"}
requires-python = ">=3.9"
readme = "README.md"
classifiers = ["License :: OSI Approved :: MIT License"]
dependencies = [
  "tomli>=2.0.0",
  "pint>=0.24.4",
  "requests>=2.0.0",
  "fastjsonschema==2.16.*",
  "tqdm",
  "python-dateutil",
  "more_itertools"
]

[project.optional-dependencies]
test = [
  "pytest",
  "pytest-cov",
  "syrupy==4.*",
  "responses",
  "pytest-unordered",
  "adtl[parquet]"
]
docs = [
  "sphinx==8.*",
  "myst-parser==4.*",
  "sphinx-book-theme"
]
parquet = [
  "polars"
]

[project.urls]
Home = "https://github.com/globaldothealth/adtl"

[project.scripts]
adtl = "adtl:main"
