<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>✱ adtl-qc</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="index.html">✱ adtl-qc</a>
    </nav>

    <main>
        <h1>✱ adtl-qc report</h1>

        <p class="runinfo">
            Updated on $timestamp
        </p>
        <h2>Datasets</h2>
        <ul id="datasets">
        $dataset_index
        </ul>
</body>

</html>

<h2>Rules</h2>
<ul id="rules">
$rule_index
</ul>




</main>
</body>

</html>